<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3">Listado de Libros</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-objets">Agregar</button>
          <h5 style="margin-top: 30px;" *ngIf="numeros.length == 0">No hay datos para mostrar</h5>
          <table *ngIf="numeros.length > 0" class="table table-striped mt-5">
              <thead>
                <tr>
                  <th>numero</th>
                  <th>primo</th>
                  <th>motivo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let numero of numeros">
                  <td>{{ numero.numero }}</td>
                  <td>{{ numero.primo }}</td>
                  <td>{{ numero.motivo }}</td>
                  <td>
                    <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/edit-objets/', numero.id]"></i>
                    <i (click)="deleteLibroTabla(numero.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>


