<div class="container mt-4 ml-0">
  <div class="card">
      <div class="card-body">
          <span class="h3">Listado de Personal</span>
            <button class="float-right" routerLink="/create-objets">Agregar</button>
          <h5 style="margin-top: 20px;" *ngIf="personal.length == 0">No hay datos para mostrar</h5>
          <table *ngIf="personal.length > 0" class="table table-striped mt-5">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Nombre</th>
                  <th>Temperatura</th>  
                  <th>Tos</th>
                  <th>Insuficiencia Respiratoria</th>
                  <th>Dolor de Garganta</th>
                  <th>Perdida del Olfato</th>
                  <th>Perdida del Gusto</th>
                  <th>Otros</th>
                  <th>Contacto Aislamiento</th>
                  <th>Contacto Viaje</th>
                  <th>viaje</th>
                  <th>Observaciones</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let personal of personal">
                  <td>{{ personal.fecha }}</td>
                  <td>{{ personal.hora }}</td>
                  <td>{{ personal.nombreyapellido }}</td>
                  <td>{{ personal.temperatura }}</td>
                  <td>{{ personal.tos }}</td>
                  <td>{{ personal.insuficiencia }}</td>
                  <td>{{ personal.dolorgarganta }}</td>
                  <td>{{ personal.perdidaolfato }}</td>
                  <td>{{ personal.perdidagusto }}</td>
                  <td>{{ personal.otros }}</td>
                  <td>{{ personal.contactoaislamiento }}</td>
                  <td>{{ personal.contactoviaje }}</td>
                  <td>{{ personal.lugar }}</td>
                  <td>{{ personal.observaciones }}</td>
                  <td>
                    <span class="input-group-text" id="basic-addon1"  [routerLink]="['/edit-objets/', personal.id]">✎</span> <span (click)="deletePersonalTabla(personal.id)" class="input-group-text" id="basic-addon1"  [routerLink]="['/edit-objets/', personal.id]">🗑️​</span>
                    
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>


